@model ISTP_LABA_3.Models.Contract

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Contract</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ContractID" />
            <div class="form-group">
                <label asp-for="OfferID" class="control-label">Offer name</label>
                <select asp-for="OfferID" class="form-control" asp-items="ViewBag.OfferID"></select>
                <span asp-validation-for="OfferID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientID" class="control-label">Client name</label>
                <select asp-for="ClientID" class="form-control" asp-items="ViewBag.ClientID"></select>
                <span asp-validation-for="ClientID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sum" class="control-label"></label>
                <input asp-for="Sum" name="sum" class="form-control" />
                <span asp-validation-for="Sum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SigningDate" class="control-label"></label>
                <input asp-for="SigningDate" class="form-control" />
                <span asp-validation-for="SigningDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FinishDate" class="control-label"></label>
                <input asp-for="FinishDate" class="form-control" />
                <span asp-validation-for="FinishDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            <h6>*if sum is not valid to offer conditions or signing date is later then finish date, the contract will not be edited</h6>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
