@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Here can be your advertisement</h1>
    <h4> <a href="https://github.com/skanerOH/ASP.netCORElab">Link for this project on GitHub</a></h4>
</div>
